#   Protége les .htaccess et .htpasswds.
##<Files ~ "^.*\.([Hh][Tt][AaPp])">
##order allow,deny
##deny from all
##satisfy all
##</Files>

#   Désactive l'affichage des répertoires.
##Options All -Indexes
#   Encodage par défaut des fichiers.
##AddDefaultCharset UTF-8

#   Définition de l'index.
##DirectoryIndex Config/Accueil.php

#   Activations des Redirections Originels.
##RewriteEngine On
##RewriteRule ^index.html$ /index.php?page=accueil [L]